---
layout: default
title: Single Cell Expression Atlas release notes
---
<h4><a href="/gxa/release-notes.html">See release notes of Expression Atlas</a></h4>

{% for release-note in site.categories.sc %}
  <section>
    <h3>
    	<img src="assets/img/atlas-release.png" alt="Single Cell Expression Atlas release" style="height: 64px"/>
      Single Cell Expression Atlas release {{ release-note.title}} – {{ release-note.date | date: "%B %Y" }}

    	{% if release-note.imgurl %}
    		<img src={{release-note.imgurl}} style="height: 92px"/>
    	{% endif %}
    </h3>
    {{ release-note.content }}
  </section>
{% endfor %}
